$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-800: #343a40;
$red:      #dc3545;
$yellow:   #ffc107;
$green:    #28a745;
$cyan:     #17a2b8;

$theme-colors: (
  primary: #46B77B,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

$btn-transition: background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;


@import "~bootstrap/scss/bootstrap";
@import "./loader";

@font-face {
  font-family: "Maven Pro Light";
  src: url("./MavenProLight-300.otf");
}

.window {
  margin-top: 4rem;
}

.navbar img {
  height: 2.5rem;
  width: 3.25rem;
  padding-right: .67rem;
  vertical-align: -.8rem;
}

$good-grey: #464a4c;

text.measurable textpath {
  font-size: 1rem;
  fill: $good-grey;
  text-shadow: 0px 0px 3px white;
  color: $good-grey;
}

path,
.divider,
.grid {
  stroke: $good-grey;
  stroke-width: 1;
  fill-opacity: 0.0;
  stroke-opacity: 1;
}

.grid {
  stroke-opacity: 0.25;
}

.graph {
  fill: #0275d8;
  stroke-width: 2;
  fill-opacity: .5;
  stroke-opacity: 1;
  stroke: #0275d8;
}

.percentileMarker circle {
  fill: white;
  stroke: #0275d8;
  stroke-width: 2;
  stroke-opacity: 1;
}

.percentileMarker text {
  text-anchor: middle;
  /*dominant-baseline: central;*/
  font-size: .75rem;
  fill: $good-grey;
  font-family: "Arvo";
}

.spark-graph svg {
  height: 3rem;
}

.spark-text {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: "Arvo";
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, -2px 2px 0 white, 2px -2px 0 white;
}


.search circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-width: 6;
}

.search line {
  stroke: #fff;
  stroke-width: 6;
}

.btn, .custom-select {
  cursor: pointer;
}

button.nav-link {
  cursor: pointer;
}

.btn-search {
  padding: .25rem 1rem;
  background-color: rgba(0,0,0,0);
  border-color: rgba(255,255,255,0.1);
  top: 8px;
}

.navbar {
  background: linear-gradient(to right, rgba(70,183,123,1) 0%, rgba(52,148,99,1) 100%);
}

.navbar-brand {
  font-family: "Maven Pro Light";
  font-weight: 300;
  height: 40px
}

.playerbar {
  top: 56px;
  background-color: #6D6E70;
  color: #fff;
  z-index: 1;
}

.playerbar-name {
  font-weight: 200;
}

.playerbar + .window {
  margin-top: 8rem;
}

.navbar-toggler {
  margin-right: 4.5rem;
}

.spider {
  position: relative;
  height:0;
  width: 100%;
  padding-bottom: 100%;
}

.spider svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

