{
  "plugins": ["flowtype"],
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": [2, { "skipUndeclared": true } ],
    "quote-props": [
      2,
      "as-needed",
      {
        "numbers": true
      }
    ],
    "no-confusing-arrow": 0
  }
}